@import '~hdo-bootstrap/hdo-bootstrap.scss';
@import './hdo-components.scss';

header {
    .search {
        @extend .form-control;
        margin-top: 2.5rem;
    }
}

main {
    .card-stack-index {
        a {
            text-decoration: none;
        }

        .hdo-card {
            height: 10rem;
            overflow: hidden;
        }

        .hdo-card-header {
            font-size: 1.5rem;
        }
    }

    .card-stack {
        .card-stack-nav {
            .strong {
                font-weight: bold;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hdo-card {
        }
    }

    .widget {
        padding: 1rem;
        background-color: lighten($hdo-steel-blue-light, 15%);
        margin-bottom: 1rem;
        font-size: 0.9rem;

        // img {
        //     filter: grayscale(0.3);
        // }
    }
}

footer {
    width: 100%;
    margin: 2rem auto;
    bottom: 0;

    .hdo-logo {
        background-position: 50% 0;
        margin: 0;
    }
}