@import '~hdo-bootstrap/hdo-bootstrap.scss';
@import './hdo-components.scss';

header {
    .search {
        @extend .form-control;
        margin-top: 2.5rem;
    }
}

main {
    .card-stack-index {
        a {
            text-decoration: none;
        }

        .hdo-card {
            height: 10rem;
            overflow: hidden;
        }

        .hdo-card-header {
            font-size: 1.5rem;
        }
    }

    .card-stack {
        .card-stack-nav {

        }

        .hdo-card {
        }
    }
}

footer {
    width: 100%;
    bottom: 0;

    .hdo-logo {
        background-position: 50% 0;
        margin: 0;
    }
}