@import '~hdo-bootstrap/hdo-bootstrap.scss';
@import './hdo-components.scss';

header {
    .search {
        @extend .form-control;
        margin-top: 2.5rem;
    }
}

main {
    .card-stack-index {
        a {
            text-decoration: none;
        }

        .hdo-card {
            height: 10rem;
            overflow: hidden;
        }

        .hdo-card-header {
            font-size: 1.5rem;
        }
    }

    .card-stack {
        .card-stack-nav {
            .strong {
                font-weight: bold;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hdo-card {
            margin: 0 1rem 1rem 0;

            @include media-breakpoint-down(md) {
                margin-right: 0rem;
            }
        }
    }

    .widget {
        $widget-bg-color: lighten($hdo-steel-blue-light, 18%);
        font-size: 0.9rem;

        .vote-widget {
            background-color: $widget-bg-color;
            padding: .5rem;
            margin-bottom: 1rem;
            border: $list-group-border-width solid $list-group-border-color;
        }

        .promise-widget {
            .promisor {
                margin-bottom: 1rem;

                .promisor-header {
                    padding: .5rem 1.2rem;
                    border: $list-group-border-width solid $list-group-border-color;
                    border-bottom-width: 0;
                    background-color: $widget-bg-color;
                }
            }

        }
    }
}

footer {
    width: 100%;
    margin: 2rem auto;
    bottom: 0;

    .hdo-logo {
        background-position: 50% 0;
        margin: 0;
    }
}

.read-more-text {
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.read-more-text:after {
    z-index: 100;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.read-more-link {
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 1rem;
}
